:root {
    --color-bg-white: #FFF;
    --color-grey-light-1: #FAFAFA;
    --color-grey-light-2: #F5F5F5;
    --color-grey-light-3: #EFEFF0;
    --color-grey-light-4: #E4E5E7;
    --color-grey-dark: #62646a;
    --color-green: #1DBF72;
    --color-blue-1: #4A73E8;
    --color-blue-2: #584AFF;
    --color-business-dark: #0D084D;
    --color-brown-dark: #45091B;

    --color-text-default: #62646a;
    --color-black-text: #222325;
    --color-heading-black: #404145;

    --flex-column-gap: 3.2rem;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;

    display: block;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   /*1rem = 10px, 10px/16px = 62.5% */
    /* height: 100%; */
}

head {
  display: none;
}

body {
    width: 100%;
    
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    line-height: 2.4rem;
    font-weight: 400;
    
    color: var(--color-text-default);
    background-color: var(--color-bg-white);
}


/* ICOMOON ICON FONTS START */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?b23f1h');
    src:  url('../fonts/icomoon.eot?b23f1h#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?b23f1h') format('truetype'),
      url('../fonts/icomoon.woff?b23f1h') format('woff'),
      url('../fonts/icomoon.svg?b23f1h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search1:before {
    content: "\e90a";
  }
  .icon-check_circle_outline:before {
    content: "\e901";
  }
  .icon-facebook1:before {
    content: "\e909";
  }
  .icon-check-square:before {
    content: "\e902";
  }
  .icon-dollar-sign:before {
    content: "\e900";
  }
  .icon-menu:before {
    content: "\e903";
  }
  .icon-x:before {
    content: "\e904";
  }
  .icon-chevron-thin-down:before {
    content: "\e905";
  }
  .icon-chevron-thin-left:before {
    content: "\e906";
  }
  .icon-chevron-thin-right:before {
    content: "\e907";
  }
  .icon-chevron-thin-up:before {
    content: "\e908";
  }
  .icon-sphere:before {
    content: "\e9c9";
  }
  .icon-woman:before {
    content: "\e9dd";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-linkedin:before {
    content: "\eac9";
  }
  .icon-pinterest:before {
    content: "\ead1";
  }
/* ICOMOON ICON FONTS END */




/* ---------------------------------------------------- */
/* MAIN */
.main {
  width: 100%;
}

/* .header {
  width: 100%;
  height: 68rem;
  overflow: hidden;
}

.header__content {
  width: 100%;
  height: 100%;
}

.header__slider {
  width: 100%;
  height: 100%;
}

.header__slider__items {
  width: 100%;
  height: 100%;
}

.header__slider--image {
  height: 100%;
  width: 100%;
} */

.main__container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 9.6rem 0;
}

.main__container__wrapper {
  margin: 0 -1.6rem;
  /* padding: 0 3.2rem; */
}

.main__container__tight {
  padding: 0 1.6rem;
  display: flex;
}

/* -------------------------------------------------------- */

/* SELLING PROPOSITION START */
.selling__proposition {
  width: 100%;
  background-color: #f1fdf7;
  margin-bottom: 9.6rem;
}

.selling__proposition__content {
  flex: 0 1 46.66667%;
}

/* .selling__proposition__content__video {
  flex: 0 1 50%;
} */

.selling__proposition__text {
  padding-right: 30%;
}

.selling__proposition--h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.84rem;
  padding-bottom: 2.4rem;
  color: var(--color-heading-black);
}

.selling__proposition__items {
  list-style: none;
  list-style-image: none;
}

.selling__proposition__item {
  padding-bottom: 2.4rem;
}

.selling__proposition--h6 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-heading-black);
  padding-bottom: .8rem;

  display: flex;
  align-items: center;
}

.selling__proposition--icon {
  font-size: 2.5rem;
  color: #7a7d85;
  margin-right: 1rem;
}

.selling__proposition--p {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.selling__proposition__video {
  flex: 0 1 53.33333%;
  padding: 0 1.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.selling__proposition__wrapper {
  /* max-width: 70rem;
  max-height: 47.5rem; */
  position: relative;
}

.selling__proposition__wrapper picture::after {
  content: "";
  position: absolute;
  display: inline-block;
  background: url(../images/desktop-play-button.c1196d6.png);
  background-size: 8rem;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.selling__proposition--image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* SELLING PROPOSITION END */

/* -------------------------------------------------- */

/* MARKETPLACE START */
.marketplace {
  width: 100%;
}

.marketplace .main__container {
  padding: 0;
  padding-bottom: 2rem;
}

.marketplace .main__container__wrapper {
  margin: 0;
}

/* .main_container__tight {
} */

/* .marketplace__content {

} */

.marketplace__content--h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  color: var(--color-heading-black);
  padding-bottom: 2.4rem;
  margin-bottom: 4rem;
}

.marketplace__content__items {
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
}

.marketplace__content__item {
  width: 20%;
  padding: 0 1rem;
  padding-bottom: 5.5rem;
  text-align: center;
}

.marketplace__content--link {
  text-decoration: none;
  color: var(--color-black-text);
  display: inline-block;
  position: relative;

  /* transition: color .2s; */
}


.marketplace__content--link::after { 
  content: "";
  
  width: 4.8rem;
  border-bottom: 2px solid #c5c6c9;
  padding-bottom: .8rem;
  
  position: absolute;
  top: 4.5rem;
  right: 50%;
  transform: translateX(50%);
}

.marketplace__content--link:hover::after {
  border-color: var(--color-green);
  padding: 0 4rem .8rem;
  transition: padding .2s ease-in-out, border-color .2s ease-in-out;
}

.marketplace__content--logo {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  margin: 0 auto 1.5rem;
}
/* MARKETPLACE END */

/* ----------------------------------------------------------- */

/* BUSINESS START */
.business {
  width: 100%;
  background-color: var(--color-business-dark);
}

/* .main__container {

}

.main__container__wrapper {
}

.main__container__tight {
} */

.business__content {
  display: flex;
}

.business__content__text {
  flex-basis: 46.66667%;
}

.business__content__text__wrapper {
  width: 100%;
  padding-right: 10%;
  color: var(--color-bg-white);
}

.business__content__text__image {
  width: 23.1rem;
  display: block;
  padding-bottom: 3.2rem;
}

.business__content__text--logo {
  width: 100%;
}

.business__content__text--h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 700;
  max-width: 45rem;
  padding-bottom: 2.4rem;
}

.business__content__text--h2 i {
  display: inline-block;
  font-weight: 500;
  font-style: italic;
}

.business__content__text--p {
  font-size: 1.8rem;
  line-height: 2.6rem;
  max-width: 45rem;
  padding-bottom: 3.2rem;
}

.business__content__text__items {
  margin-bottom: 4.8rem;
  list-style: none;
}

.business__content__text__item {
  display: flex;
  padding-bottom: 1.2rem;
}

.business__content__text--icon {
  font-size: 2.5rem;
  color: #7a7d85;
  margin-right: 1rem;
  display: inline-block;
}

.btn--link {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: .5px;
  font-weight: 700;

  color: var(--color-bg-white);
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem 2.4rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #1dbf73;
  transition: 70ms cubic-bezier(.75,0,.25,1);
}

.btn--link:hover {
  background-color: #19a463;
}

.business__content__picture {
  flex-basis: 53.33333%;
}

/* .business__content__image__wrapper {
  width: 100%;
} */

.business__content--image--1 {
  width: calc(100% + 14rem);
  /* margin: 0 -14rem -3.2rem 0; */
}

.business__content--image--2 {
  width: 100%;
  display: none;
}

/* BUSINESS END */

/* ------------------------------------------------------ */

/* LOGO MAKER START */
.logo__maker {
  width: 100%;
}

/* .main__container {
}

.main__container__wrapper {
}

.main__container__tight {
} */

.logo__maker__content {
  width: 100%;
  color: var(--color-bg-white);
  background-color: var(--color-blue-1);
  overflow: hidden;
  position: relative;

  display: flex;
}

.logo__maker__banner {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.logo__maker__banner__wrapper {
  padding: 36px 0 36px 76px;
}

.logo__maker__logo {
  display: block;
  padding-bottom: 1.6rem;
}

.logo__maker__logo--image {
  display: inline-block;
  margin-right: 1rem;
}

.logo__maker--h2 {
  font-size: 3.4rem;
  line-height: 3.9rem;
  font-weight: 700;
  margin-bottom: .8rem;
  color: var(--color-bg-white);
}

.logo__maker--h2 i{
  font-weight: 500;
}

.logo__maker--p {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.logo__maker__banner .btn--link {
  color: var(--color-blue-1);
  background-color: var(--color-bg-white);
}

.logo__maker__banner .btn--link:hover {
  background-color: #d4defb;
}

.logo__maker__pictures {
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* .logo__maker--image {
  width: 100%;
  height: 100%;
} */
/* LOGO MAKER END */

/* -------------------------------------------------------------------- */
/* FIVERR MADE ON START */
.fiverr__madeon {
  width: 100%;
  background-color: var(--color-grey-light-2);
}

/* .main__container {
}

.main__container__wrapper {
}

.main__container__tight {
} */

.fiverr__madeon__content {
  width: 100%;
  position: relative;
}

.fiverr__madeon--h2 {
  font-size: 3.2rem;
  line-height: 120%;
  font-weight: 700;
  color: var(--color-heading-black);
  padding-bottom: 2.4rem;
}

.fiverr__madeon__slider__package {
  width: 100%;
}

.fiverr__madeon__slider__sample {
  width: 100%;
}

.fiverr__madeon__project__card__wrapper {
  outline: none;
  width: 35.9rem;
  padding: 0 1.8rem .8rem 0;
}

.fiverr__madeon__project__card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.14px 2.29266px rgb(0 0 0 / 3%), 
              0 0.37px 4.42626px rgb(0 0 0 / 5%), 
              0 3px 7px rgb(0 0 0 / 9%);
}

.fiverr__madeon__project__card__picture {
  width: 100%;

}

.fiverr__madeon__project__card--image {
  width: 100%;
  height: 23.7rem;
}

.fiverr__madeon__project__card__info {
  display: flex;
  padding: 1.6rem 0 1.2rem 1.6rem;
}

.fiverr__madeon__project__card__info__link {
  text-decoration: none;
}

.fiverr__madeon__project__card__info--image {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.fiverr__madeon__project__card__info__text {
  font-size: 1.4rem;
  line-height: 2.1rem;
  padding-left: 1.2rem;
  width: 100%;
}

.fiverr__madeon__project__card__info__text b {
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 1.2rem);
}

.fiverr__madeon__project__card__info__text--title {
  text-decoration: none;
  text-transform: capitalize;
  color: #404145;
  display: inline-block;
}

.fiverr__madeon__project__card__info__text--institute {
  color: #95979d;
  text-decoration: none;
}

/* .fiverr__text--link {
}

.fiverr__navi__right--icon {
} */

/* FIVERR MADE ON END */


/* -------------------------------------------------------------- */

/* FIVERR GUIDES START */
.fiverr__guides {
  width: 100%;
}

/* .fiverr__guides .main__container {
  padding-top: 0;
} */

/* .main__container__wrapper {
}

.main__container__tight {
} */

.fiverr__guides__content {
  width: 100%;
  position: relative;
}

.fiverr__guides--h2 {
  font-size: 3.2rem;
  line-height: 120%;
  font-weight: 700;
  color: var(--color-heading-black);
  display: inline-block;
  padding-bottom: 2.4rem;
}

.fiverr__guides__cards {
  display: flex;
  justify-content: space-between;
  /* flex-flow: row wrap; */
  /* gap: var(--flex-column-gap); */

  /* margin: calc(-1 * var(--flex-column-gap)) 0 0 calc(-1 * var(--flex-column-gap));
  width: calc(100% + var(--flex-column-gap)); */
}


.fiverr__guides__card--link {
  text-decoration: none;
  cursor: pointer;
  flex-basis: 32%;
  /* margin: var(--flex-column-gap) 0 0 var(--flex-column-gap); */
  /* max-width: calc(33.33333% - var(--flex-column-gap)); */
}

/* .fiverr__guides__card--link:not(:first-child) {
  margin-left: 1.6rem;
}
.fiverr__guides__card--link:not(:last-child) {
  margin-right: 1.6rem;
} */

/* .fiverr__guides__card__pictures {
  width: 100%;
} */

.fiverr__guides__card--image {
  margin-bottom: 1.6rem;
  border-radius: 4px;
  width: 100%;
  object-fit: cover;
  display: block;
  transition: opacity .3s ease-in-out;
}

.fiverr__guides__card--image:hover {
  opacity: .85;
}

.fiverr__guides__card--h6 {
  font-size: 1.8rem;
  line-height: 140%;
  font-weight: 700;
  color: var(--color-heading-black);
  padding-bottom: 2px;
}

.fiverr__guides__card--p {
  color: #7a7d85;
}

.fiverr__text--link {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: var(--color-blue-1);
  text-decoration: none;

  position: absolute;
  right: 0;
  top: 0;
  padding-top: 1.2rem;

  transition: color .2s;

  display: flex;
  align-items: center;
}

.fiverr__text--link:hover {
  color: var(--color-blue-2);
}

.fiverr__navi__right--icon{
  display: inline-block;
  margin-left: 1rem;
  margin-top: 3px;
  font-size: 1rem;
}

/* FIVERR GUIDES END */

/* ----------------------------------------------------------- */

/* TESTIMONIAL SLIDER START */
.testimonial {
  width: 100%;
  background-color: var(--color-bg-white);
}

/* .main__container {

}

.main__container__wrapper {
}

.main__container__tight {
} */

.testimonial__slider {
  width: 100%;
}

/* .testimonial__slider__items {
} */

.testimonial__slider__item {
  display: flex;
  align-items: center;
}

.testimonial__slider__video__modal {
  flex-basis: 40%;
  min-height: 25rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.testimonial__slider__picture__wrapper {
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
}
.testimonial__slider__picture__wrapper::after {
  content: "";
  display: inline-block;
  background: url(../images/desktop-play-button.c1196d6.png);
  background-size: 8rem;
  width: 8rem;
  height: 8rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial__slider--image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.testimonial__slider__text__content {
  flex-basis: 60%;
  padding: 0 4.8rem 0 6.8rem;
}

.testimonial__slider--h5 {
  font-size: 2rem;
  line-height: 140%;
  font-weight: 400;
  color: #7a7d85;
  padding-bottom: 1.6rem;
}

.testimonial__slider__logo__wraperr {
  display: inline-block;
  border-left: 1px solid #c5c6c9;
  height: 3.6rem;
  margin-left: 1.6rem;
}

.testimonial__slider--logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.2rem;
  height: 3.6rem;
}

.testimonial__slider__domaine {
  color: #003912;
}

.testimonial__slider--blockquote {
  font-size: 3rem;
  line-height: 4.4rem;
  font-weight: 500;
}

/* .testimonial__slider__navigators {
  padding-top: 3.2rem;
  display: none;
}

.testimonial__slider__dots {
  text-align: center;
  list-style: none;
}

.testimonial__slider__dot {
  display: inline-block;
  margin: 0 .8rem;
}

.testimonial__slider__dot__button {
  background: #e4e5e7;
  font-size: 0;
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.testimonial__slider__dot--1 {

}

.testimonial__slider__dot--2 {
}

.testimonial__slider__dot--3 {
} */

/* TESTIMONIAL FLICKITY SLIDER START */
.flickity-prev-next-button {
  background-color: #fff;
  /* left: 30%;
  top: 30%;
  width: 40%;
  height: 40%; */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
}

.flickity-button:focus {
  outline: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
}

.flickity-prev-next-button.previous {
  left: -23px;
}


.flickity-prev-next-button.next {
  right: -23px;
}

.flickity-page-dots {
  display: none;
}

.flickity-page-dots .dot {
  width: 13px;
  height: 13px;
}

/* TESTIMONIAL FLICKITY SLIDER END */

/* TESTIMONIAL SLIDER END */

/* ------------------------------------------------------------------- */

























/* ------------------------------------------------------------- */
/* MEDIA QUERIES */

/* 1760px */
@media only screen and (max-width: 110em) {
  .main__container__wrapper {
    margin: 0;
    padding: 0 3.2rem;
  }
  
  .main__container__tight {
    padding: 0;
    display: flex;
  }
}

/* 1600px */
@media only screen and (max-width: 100em) {
  /* BUSINESS START */
  .business__content--image--1 {
    width: calc(100% + 3rem);
  }
  /* BUSINESS END */
}

/* 1400px */
@media only screen and (max-width: 87.5em) {
  /* BUSINESS START */
  .business__content--image--1 {
    width: 100%;
  }
  /* BUSINESS END */
}


/* 1160px */
@media only screen and (max-width: 72.5em) {
  /* SELLING PROPOSITION START */
  .selling__proposition__text {
    padding-right: 13%;
  }
  /* SELLING PROPOSITION END */

  /* TESTIMONIAL SLIDER START */
  .testimonial__slider__text__content {
    padding: 0 3.6rem 0 1.6rem;
    /* flex-basis: 50%; */
  }

  .testimonial__slider__logo__wraperr {
    display: block;
    border: none;
    margin-left: 0;
  }

  .testimonial__slider--logo {
    margin-left: -0.5rem;
  }

  .testimonial__slider--blockquote {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }

  /* TESTIMONIAL SLIDER END */

  /* LOGO MAKER START */
  .logo__maker__banner__wrapper {
    padding-left: 3.2rem;
  }
  /* LOGO MAKER END */

  /* FIVERR GUIDES START */
  .fiverr__guides__cards {
    --flex-column-gap: 1.6rem;
  }

  /* FIVERR GUIDES END */
}

/* 1000px */
@media only screen and (max-width: 62.5em) {
  /* LOGO MAKER START */
  .logo__maker__content {
    flex-direction: column;
  }

  .logo__maker__pictures {
    position: static;
    margin-top: -17rem;
  }

  .logo__maker--image {
    width: 100%;
    height: 100%;
  }
  /* LOGO MAKER END */


  /* FIVERR MADE ON START */
  .fiverr__madeon .fiverr__text--link {
    position: static;
    margin-top: 4rem;
  }
  /* FIVERR MADE ON END */
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  .main__container {
    padding: 4.8rem 0;
  }

  .main__container__tight {
    flex-direction: column;
  }

  /* SELLING PROPOSITION START */
  .selling__proposition__content {
    flex: 0 1 100%;
  }

  .selling__proposition__text {
    padding-right: 0;
  }

  .selling__proposition__items {
    padding-bottom: 2.8rem;
  }

  .selling__proposition__video {
    flex: 0 1 100%;
    justify-content: center;
    padding: 0;
  }

  .selling__proposition__wrapper {
    width: 100%;
  }
  /* SELLING PROPOSITION END */

  /* TESTIMONIAL SLIDER START */
  .testimonial__slider__item {
    align-items: stretch;
    flex-direction: column;
  }

  .testimonial__slider__video__modal {
    flex-basis: 100%;
  }

  .testimonial__slider__text__content {
    padding: 2.4rem 0;
    flex-basis: 100%;
  }
  /* TESTIMONIAL SLIDER END */


  /* MARKETPLACE START */
  .marketplace__content__item {
    width: 33.33%;
  }
  /* MARKETPLACE END */

  /* BUSINESS START */
  .business__content {
    flex-direction: column;
  }

  .business__content__text__wrapper {
    padding-right: 0;
  }

  .business__content__text--h2, 
  .business__content__text--p {
    max-width: 100%;
  }
  
  .business__content__text {
    flex-basis: auto;
  }

  .business__content__picture {
    flex-basis: auto;
    margin-top: 4.8rem;
  }

  .business__content--image--1 {
    display: none;
  }
  
  .business__content--image--2 {
    display: block;
  }

  /* BUSINESS END */


  /* FIVERR GUIDES START */
  .fiverr__guides__cards {
    flex-wrap: wrap;
    /* --flex-column-gap: 1.6rem; */
  }

  .fiverr__guides__card--link {
    flex-basis: 49%;
    /* max-width: 50%; */
    margin-bottom: 3.2rem;
  }

  .fiverr__text--link {
    position: static;
  }
  /* FIVERR GUIDES END */


/* TESTIMONIAL FLICKITY SLIDER START */
  .flickity-prev-next-button {
    display: none;
  }

  .flickity-page-dots {
    display: block;
  }
  
  /* TESTIMONIAL FLICKITY SLIDER END */
}


/* 600px */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 56.25%;  /*1rem = 9px*/
  }

  /* SELLING PROPOSITION START */
  .selling__proposition { 
    margin-bottom: 4.8rem;
  }

  /* SELLING PROPOSITION END */

  /* MARKETPLACE START */
  .marketplace__content__item {
    width: 50%;
    padding: 0 1rem 3.2rem;
  }

  /* MARKETPLACE END */

  /* LOGO MAKER START */
  .logo__maker .main__container__wrapper { 
    padding: 0;
  }
  /* LOGO MAKER END */

  /* FIVERR GUIDES START */
  .fiverr__guides__cards { 
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .fiverr__guides__card--link {
    flex-basis: 100%;
  }
  /* FIVERR GUIDES END */

}