:root {
    --color-bg-white: #FFF;
    --color-grey-light-1: #FAFAFA;
    --color-grey-light-2: #F5F5F5;
    --color-grey-light-3: #EFEFF0;
    --color-grey-light-4: #E4E5E7;
    --color-grey-dark: #62646a;
    --color-green: #1DBF72;
    --color-blue-1: #4A73E8;
    --color-blue-2: #584AFF;
    --color-business-dark: #0D084D;
    --color-brown-dark: #45091B;

    --color-text-default: #62646a;
    --color-heading-black: #404145;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;

    display: block;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   /*1rem = 10px, 10px/16px = 62.5% */
    /* height: 100%; */
}

head {
  display: none;
}

body {
    width: 100%;
    
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    line-height: 2.4rem;
    font-weight: 400;
    
    color: var(--color-text-default);
    background-color: var(--color-bg-white);
}


/* ICOMOON ICON FONTS START */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?b23f1h');
    src:  url('../fonts/icomoon.eot?b23f1h#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?b23f1h') format('truetype'),
      url('../fonts/icomoon.woff?b23f1h') format('woff'),
      url('../fonts/icomoon.svg?b23f1h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search1:before {
    content: "\e90a";
  }
  .icon-check_circle_outline:before {
    content: "\e901";
  }
  .icon-facebook1:before {
    content: "\e909";
  }
  .icon-check-square:before {
    content: "\e902";
  }
  .icon-dollar-sign:before {
    content: "\e900";
  }
  .icon-menu:before {
    content: "\e903";
  }
  .icon-x:before {
    content: "\e904";
  }
  .icon-chevron-thin-down:before {
    content: "\e905";
  }
  .icon-chevron-thin-left:before {
    content: "\e906";
  }
  .icon-chevron-thin-right:before {
    content: "\e907";
  }
  .icon-chevron-thin-up:before {
    content: "\e908";
  }
  .icon-sphere:before {
    content: "\e9c9";
  }
  .icon-woman:before {
    content: "\e9dd";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-linkedin:before {
    content: "\eac9";
  }
  .icon-pinterest:before {
    content: "\ead1";
  }
/* ICOMOON ICON FONTS END */





/* MAIN */
.main {
  width: 100%;
}

/* .header {
  width: 100%;
  height: 68rem;
  overflow: hidden;
}

.header__content {
  width: 100%;
  height: 100%;
}

.header__slider {
  width: 100%;
  height: 100%;
}

.header__slider__items {
  width: 100%;
  height: 100%;
}

.header__slider--image {
  height: 100%;
  width: 100%;
} */

.main__container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 9.6rem 0;
}

.main__container__wrapper {
  margin: 0 -1.6rem;
  /* padding: 0 3.2rem; */
}

.main__container__tight {
  padding: 0 1.6rem;
  display: flex;
}

.selling__proposition {
  width: 100%;
  background-color: #f1fdf7;
  margin-bottom: 9.6rem;
}

.selling__proposition__content {
  flex: 0 1 46.66667%;
}

/* .selling__proposition__content__video {
  flex: 0 1 50%;
} */

.selling__proposition__text {
  padding-right: 30%;
}

.selling__proposition--h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.84rem;
  padding-bottom: 2.4rem;
  color: var(--color-heading-black);
}

.selling__proposition__items {
  list-style: none;
  list-style-image: none;
}

.selling__proposition__item {
  padding-bottom: 2.4rem;
}

.selling__proposition--h6 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-heading-black);
  padding-bottom: .8rem;

  display: flex;
  align-items: center;
}

.selling__proposition--icon {
  font-size: 2.5rem;
  color: #7a7d85;
  margin-right: 1rem;
}

.selling__proposition--p {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.selling__proposition__video {
  flex: 0 1 53.33333%;
  padding: 0 1.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.selling__proposition__wrapper {
  /* max-width: 70rem;
  max-height: 47.5rem; */
  position: relative;
}

.selling__proposition__wrapper picture::after {
  content: "";
  position: absolute;
  display: inline-block;
  background: url(../images/desktop-play-button.c1196d6.png);
  background-size: 8rem;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.selling__proposition--image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}






















/* MEDIA QUERIES */

/* 1760px */
@media only screen and (max-width: 110em) {
  .main__container__wrapper {
    margin: 0;
    padding: 0 3.2rem;
  }
  
  .main__container__tight {
    padding: 0;
    display: flex;
  }
}


/* 1160px */
@media only screen and (max-width: 72.5em) {
  .selling__proposition__text {
    padding-right: 13%;
  }
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  .main__container {
    padding: 4.8rem 0;
  }

  .main__container__tight {
    flex-direction: column;
  }

  .selling__proposition__content {
    flex: 0 1 100%;
  }

  .selling__proposition__text {
    padding-right: 0;
  }

  .selling__proposition__items {
    padding-bottom: 2.8rem;
  }

  .selling__proposition__video {
    flex: 0 1 100%;
    justify-content: center;
    padding: 0;
  }

  .selling__proposition__wrapper {
    width: 100%;
  }
}


/* 600px */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 56.25%;  /*1rem = 9px*/
  }
}